<div class="container-group-col">
    <ul id="cart-list"></ul>
    <div id="checkout">
        <hr style="width: 25%;">
        <p>Total: $<span id="price"></span></p>
        <button id="create-playlist">Add to playlist</button>
    </div>
</div>

<script src="/js/cart.js"></script>