<div class="dashboard-container">
    <div class="container-group-row">
        <a href="dashboard/profile">
            <img src="./img/profile.png" alt="home icon" id="profile">
            <label for="profile">Profile</label>
        </a>
        <a href="dashboard/cart">
            <img src="./img/shop.png" alt="shopping cart" id="shop">
            <label for="shop">Shopping Cart</label>
        </a>
        <a href="dashboard/discover">
            <img src="./img/discover.png" alt="home icon" id="discover">
            <label for="discover">Discover</label>
        </a>
    </div>
</div>