<div class="container">
    {{#if playlist}}
    <h3>My Playlist:</h3>
    <ul id="playlist">
    {{#each playlist as | song |}}
        <li>{{song.song_id}}</li>
    {{/each}}
    </ul>
    <button id="edit">edit playlist</button>
    {{else}}
    <div class="container-group-col" id="no-playlist">
        <p>On no! It looks like you don't have any songs on your playlist. Create a custom playlist 
            by pressing the button below
        </p>
        <a href="/dashboard/discover">+ Add Music</a>
    </div>
    {{/if}}
</div>

<script src="/js/profile.js"></script>