<div class="container-group-col card" style="margin-top: 40px;">
    <div id="cart-list"></div>
    <div id="checkout">
        <hr style="width: 100%;">
        <p>Total: $<span id="price"></span></p>
        <button id="create-playlist">Add to playlist</button>
    </div>
</div>

<script src="/js/cart.js"></script>