<form class="container card" id="login-form">
    <div class="container-group-col">
        <label for="username-login">Username:</label>
        <input type="text" id="username-login">
    </div>
    <div class="container-group-col">
        <label for="password-login">Password:</label>
        <input type="password" id="password-login">
    </div>
    <div class="container-group-col" id="container-submit">
        <button>Login</button>
        <p>Don't have an account? <a href="/signup">Sign up</a></p>
    </div>
</form>

<script src="./js/login.js"></script>