<div class="container card">
    {{#if playlist}}
    <h3>My Playlist:</h3>
    <ul id="playlist">
    {{#each playlist as | song |}}
        <li>{{song.song.name}}</li>
    {{/each}}
    </ul>
    <button id="edit">edit playlist</button>
    {{else}}
    <div class="container-group-col" id="no-playlist">
        <p>On no! It looks like you don't have any songs on your playlist. Visit the 
            <a href="/dashboard/discover">discovery</a> page to create a custom playlist
        </p>
        
    </div>
    {{/if}}
</div>

<script src="/js/profile.js"></script>