html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

header {
    background-color: rgb(0, 158, 193);
    display: flex;
    justify-content: center;
    
}

input {
    padding: 2px;
    width: 100%;
}

textarea:focus, input:focus {
    outline: none;
}

img {
    max-width: 25%;
    max-height:fit-content;
}

.container {
    width: 100%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.dashboard-container {
    width: 100%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.container-group-col {
    display: flex;
    flex-direction: column;
}

.container-group-row {
    display: flex;
    justify-content: center;
    margin: 0 50px;
    flex-wrap: wrap;
}
.container-group-row a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    
}

#container-submit {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container-submit button {
    width: 50%;
}

#no-playlist {
    width: 25%;
    align-items: center;
    font-size: 24px;
}

.add-song {
    background-color: white;
    border: none;
}

#message {
    text-align: center;
}

#cart-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cart-list li {
    list-style: none;
}

#checkout {
    display: flex;
    flex-direction: column;
    align-items: center;
}